<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Flights</title>
  <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
  <h1>Flights</h1>
  <ul>
    <% flights.forEach((flight) => { %>
      <li>
        <a href="/flights/<%= flight._id %>"><%= flight.airline %></a>
      </li>
    <% }) %>
  </ul>
  <a href="/flights/new">Add New Flight</a>
</body>
</html>
